<div class="container centered col-10 shadow p-3 shadow bg-light rounded" style="margin-top: 20px">
  <h5 class="text-center">revLocate Messages!</h5>
  <div class="mat-elevation-z8" style="height: 160px; overflow: auto;">
    <table mat-table [dataSource]="dataSource" style="width: 100%">

      <ng-container matColumnDef="messenger">
        <th mat-header-cell *matHeaderCellDef> Messenger </th>
        <td mat-cell *matCellDef="let globalMessage"> {{globalMessage.messenger}} </td>
      </ng-container>

      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef> Message </th>
        <td mat-cell *matCellDef="let globalMessage"> {{globalMessage.message}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" style="height: 30px;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>