<mat-card class="container centered col-10 shadow p-4 my-4 shadow rounded" color="secondary">
  <h2 class="text-center">Friends List</h2>
  <hr>
  <mat-toolbar color="secondary">
    <span>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </span>
    <span style="flex: 1 1 auto;"></span>
    <span>
      <button mat-raised-button color="primary" (click)="openBottomSheet()">Add Friend</button>
    </span>
  </mat-toolbar>
  <mat-card class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort style="overflow: auto; height: 310px;">

      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef class="justify-content-center" mat-sort-header> Username </mat-header-cell>
        <mat-cell *matCellDef="let userScore" class="justify-content-center"> {{userScore.username}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="highscore">
        <mat-header-cell *matHeaderCellDef class="justify-content-center" mat-sort-header> Highscore </mat-header-cell>
        <mat-cell *matCellDef="let userScore" class="justify-content-center"> {{userScore.highscore}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openBottomSheet(row)"></mat-row>
    </mat-table>
    <mat-paginator></mat-paginator>
  </mat-card>
</mat-card>