<mat-nav-list>
    <mat-toolbar>
        <span>
                <mat-form-field class="form-group col centered">
                  <input matInput placeholder="Username" [formControl]="usernameFormControl" [(ngModel)]="friend.username">
                  <mat-error *ngIf="usernameFormControl.hasError('required')">
                    Username is
                    <strong>required</strong>
                  </mat-error>
                </mat-form-field></span>
    </mat-toolbar>

    <a mat-list-item (click)="addFriend()">
        <span mat-line style="text-align: center">Add Friend</span>
    </a>
</mat-nav-list>