<mat-toolbar class="rounded mat-elevation-z3" color="secondary">
  <img src="../../assets/revLocateLogo.svg" alt="revLocate Logo" style="width: 18%;">
  <div class="col">
    <div class="d-flex">
      <a mat-button color="secondary" routerLink="/home"> Home </a>
    </div>
  </div>
  <div class="col">
    <div class="justify-content-end d-flex">
      <a mat-button color="secondary" routerLink="/login"> Login </a>
      <a mat-button color="secondary" routerLink="/register"> Register </a>
      <a mat-button color="secondary" routerLink="/profile"> Profile </a>
      <a mat-button color="secondary" (click)="ngOnInit()"> Logout </a>
    </div>
  </div>
</mat-toolbar>