<h1 class="text-center my-4">Create A Set</h1>
<mat-card class="game-card my-4">
    <mat-card-header color="primary">
    </mat-card-header>
    <mat-card-content>
        <div style="position: relative;">
            <div id="map"></div>
            <div id="pano"></div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <mat-toolbar color="secondary">
            <span>
                <p>Locations Created: {{locCount}}</p>

            </span>
            <span style="flex: 1 1 auto;"></span>
            <span>
             <!--   <button mat-raised-button color="primary" id="saveLocation" (click)="saveLocation()">Save Location</button> -->
                <button mat-raised-button color="primary" id="saveLocation" (click)="getApis()">Save Location</button>
            </span>
        </mat-toolbar>
    </mat-card-actions>
</mat-card>