<!--<div class="container centered col-10 shadow p-4 my-4 shadow bg-light rounded">
  <h2 class="text-center">Leader Board</h2>
  <hr>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef class="justify-content-center"> Username </mat-header-cell>
      <mat-cell *matCellDef="let userScore" class="justify-content-center"> {{userScore.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="highscore">
      <mat-header-cell *matHeaderCellDef class="justify-content-center"> Highscore </mat-header-cell>
      <mat-cell *matCellDef="let userScore" class="justify-content-center"> {{userScore.highscore}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openBottomSheet(row)"></mat-row>
  </mat-table>
</div>-->

<mat-card class="container centered col-10 shadow p-4 my-4 shadow rounded" color="secondary">
  <h2 class="text-center">Leader Board</h2>
  <hr>
  <mat-card class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort style="overflow: auto; height: 310px;">

      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef class="justify-content-center" mat-sort-header> Username </mat-header-cell>
        <mat-cell *matCellDef="let userScore" class="justify-content-center"> {{userScore.username}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="highscore">
        <mat-header-cell *matHeaderCellDef class="justify-content-center" mat-sort-header> Highscore </mat-header-cell>
        <mat-cell *matCellDef="let userScore" class="justify-content-center"> {{userScore.highscore}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openBottomSheet(row)"></mat-row>
    </mat-table>
    <mat-paginator [pageSize]="5"></mat-paginator>
  </mat-card>
</mat-card>