<mat-nav-list>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z2">

        <ng-container matColumnDef="setName">
          <mat-header-cell *matHeaderCellDef class="justify-content-center"> Set Name </mat-header-cell>
          <mat-cell *matCellDef="let setRating" class="justify-content-center"> {{setRating.setName}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="rating">
          <mat-header-cell *matHeaderCellDef class="justify-content-center"> Rating </mat-header-cell>
          <mat-cell *matCellDef="let setRating" class="justify-content-center"> {{setRating.rating}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="highscore">
          <mat-header-cell *matHeaderCellDef class="justify-content-center"> Highscore </mat-header-cell>
          <mat-cell *matCellDef="let setRating" class="justify-content-center"> {{setRating.highscore}} </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
  
    <a mat-list-item (click)="playSet()">
      <span mat-line style="text-align: center">Play Set</span>
    </a>
  </mat-nav-list>