<div class="container centered col-10 shadow p-4 my-4 shadow bg-light rounded">
  <h2 class="text-center">Popular Sets</h2>
  <hr>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="setName">
      <mat-header-cell *matHeaderCellDef> Set Name </mat-header-cell>
      <mat-cell *matCellDef="let setRating"> {{setRating.setName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="rating">
      <mat-header-cell *matHeaderCellDef> Rating </mat-header-cell>
      <mat-cell *matCellDef="let setRating"> {{setRating.rating}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="highscore">
      <mat-header-cell *matHeaderCellDef> Highscore </mat-header-cell>
      <mat-cell *matCellDef="let setRating"> {{setRating.highscore}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openBottomSheet(row)"></mat-row>
  </mat-table>
</div>