<h1 style="text-align: center" class="my-5">Playable Sets</h1>
<div class="my-5">
  <div class="row">
    <mat-card class="my-4 col-3">
      <mat-card-header>
        <div mat-card-avatar class="row"></div>
        <span class="col" mat-line style="text-align: center">Shiba Inu Q</span>
        <span class="col" mat-line style="text-align: center">Dog Breed</span>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" (click)="openBottomSheet(5)">
    </mat-card>
    <div class="col"></div>
    <mat-card class="my-4 col-3">
      <mat-card-header>
        <div mat-card-avatar class="row"></div>
        <span class="col" mat-line style="text-align: center">Shiba Inu</span>
        <span class="col" mat-line style="text-align: center">Dog Breed</span>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" (click)="openBottomSheet(5)">
    </mat-card>
    <div class="col"></div>
    <mat-card class="my-4 col-3">
      <mat-card-header>
        <div mat-card-avatar class="row"></div>
        <span class="col" mat-line style="text-align: center">Shiba Inu</span>
        <span class="col" mat-line style="text-align: center">Dog Breed</span>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" (click)="openBottomSheet(5)">
    </mat-card>
  </div>

</div>

<mat-paginator class="my-5" [length]="length" [pageSize]="pageSize" (page)="pageEvent = $event">
</mat-paginator>